body {
    background: #fff;
    color: #333;
    font-family: 'PT Sans', sans-serif;
}

p {
    font-size: medium;
}

.bar {
    background: gray;
}
.bar h1{
    color: white;
    margin: 18px auto 12px auto;
}
.bar img{
    float: left;
    margin: 12px 12px 12px 12px;
}

.container {
    display: block;
    width: 300px;
    margin: 1.5em;
}

ul {
    margin: 0;
    padding: 0;
}

li * {
    float: left;
}

li,
h3 {
    clear: both;
    list-style: none;
}

input,
button {
    outline: none;
}

button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

button:hover {
    color: #333;
}